<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>VolumeCalculator</servlet-name>
    <servlet-class>com.example.VolumeCalculator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VolumeCalculator</servlet-name>
    <url-pattern>/VolumeCalculator</url-pattern>
  </servlet-mapping>
  
</web-app>